@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.header{
    display: grid;
    grid-template-columns: 279px 153px; /*размеры блоков в ширину*/
    grid-column-gap: 1008px; /*отсутпы в колонках*/
    grid-auto-rows: minmax(67px, auto); /*размер блоков (строк) в высоту*/
}

.header-text{
    align-self: end; /*положение по вертикали*/
    justify-self: end; /*положение по горизонтали*/

    margin: 0;
    font-family: "Source Sans Pro, sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #3F3F3F;
}

.header-button{
    display: grid;
    grid-template-columns: 78px 11.49px;
    grid-column-gap: 5px;
    grid-auto-rows: minmax(15px, auto);
    align-self: end;
    justify-self: end;

    padding:  10px 11px 11px 16px;
    margin: 0;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
}

.button-text{
    align-self: center;

    margin: 0;
    font-family: "Source Sans Pro, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #B4B4B4;
}

.button-row{
    align-self: center;
}